.login-container {
  @apply min-h-screen flex flex-col items-center justify-center;
  background: linear-gradient(to bottom right, #1e40af, #1b2747);
  padding: 10px;
  width: 100%;

  .logo-image {
    @apply w-20 h-20 mb-4 filter brightness-0 invert;
    margin-bottom: 50px;
  }

  .title {
    @apply text-3xl font-bold text-white text-center mb-4 w-full block;
    margin-top: 20px;
  }

  .subtitle {
    @apply text-blue-200 text-center mb-8 w-full block;
    margin-top: 35px;
  }

  .input-group {
    @apply relative w-full max-w-sm mb-6 p-4 rounded-lg bg-white bg-opacity-10 backdrop-blur-md border border-white border-opacity-20;
    width: 90%;
    height: 80%;
    .auth-lucide {
      @apply absolute left-7 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white text-opacity-80;
    }

    input {
      @apply w-full pl-10 pr-3 py-3 rounded-lg bg-white bg-opacity-20 backdrop-blur-md
             text-gray-100 border-none focus:ring-2 focus:ring-blue-400 outline-none
             transition duration-200;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .link-group {
    @apply flex justify-between w-full max-w-sm mb-6 text-sm  text-blue-300 hover:text-blue-100 transition duration-200;
    width: 90%;
  }

  .login-button {
    @apply w-11/12 h-12 max-w-sm bg-blue-500 hover:bg-blue-600 text-white font-semibold
           py-3 rounded-lg shadow-lg hover:shadow-xl transition duration-200
           transform hover:scale-105 justify-center items-center flex;
  }

  .register-link {
    margin-top: 50px;
    @apply text-blue-300 hover:text-blue-100 transition duration-200;
  }
}
